<!-- 10 -->
<header>
  <nav class="navbar shadow-sm">
    <div class="container">
      {% with request.resolver_match.view_name as view_name %}
      <ul class="nav nav-pills text-right">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'book:index' %}">Главная</a>
        </li>
        
      </ul>
      {% if user.is_authenticated %}
        <div class="btn-group ml-auto" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset" href="{% url 'book:add_book' %}">Добавить книгу</a></button>
          <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset" href="{% url 'book:profile' user.id %}">Пользователь: {{ user.username }} | {{ current_user_author_name }}</a></button>
          <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset" href="{% url 'logout' %}">Выйти</a></button>
        </div>
        {% else %}
        <div class="btn-group ml-auto" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset" href="{% url 'login' %}">Войти</a></button>
          <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset" href="{% url 'registration' %}">Регистрация</a></button>
        </div>
        {% endif %}     
      {% endwith %}
    </div>
  </nav>
</header>