<!-- 22 -->
{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
<div class="card col-4 m-3">
  <div class="card-header">
    {% if "/editprofile/" in request.path %}
    Редактирование данных пользователя
    {% else %}
    Регистрация пользователя
    {% endif %}
  </div>
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% if "/editprofile/" in request.path %}
        {% bootstrap_button button_type="submit" content="Изменить данные" %}
      {% else %}
        {% bootstrap_button button_type="submit" content="Зарегистрироваться" %}
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}